@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
html,
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}

h1{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    position: relative;
    left: 50px;
}